* {
    box-sizing: border-box;
}

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    display: block;
    height: 495px;
    width: 100%;
    margin-bottom: 5px;
    position: relative;
}

.editor {
    display: inline-block;
    height: 100%;
    border: solid thin black;
    font-family: monospace;
    font-size: 1.5rem;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    width: 49%;
    vertical-align: top;
}

.lineCount {
    position: absolute;
    top: 0;
    left: 0;
    width: 8.8%;
    height: 100%;
    display: inline-block;
    border-right: solid 2px #cccccc;
    color: #bbbbbb;
    padding: 5px;
    background-color: #dddddd;
    overflow-y: scroll;
}

.lineCount::-webkit-scrollbar {
    display: none;
}

.editor-ct {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 90%;
    height: 100%;
    overflow: hidden;
}

.editor-code {
    position: absolute;
    top:0; left:0;
    width:100%;
    height:100%;
    padding: 5px;
    overflow-y: scroll;
}

.editor-type {
    position: relative;
    -webkit-text-fill-color: transparent;   /* Chrome: make text transparent */
    color: black;                           /* But keep caret black */
    border: none;
    height: 100%;
    width: 100%;
    padding: 5px;
    overflow-y: scroll;
    outline: none;
}

.ms-selector {
    width: 95px;
    padding-left: 3px;
}

.comment {
    color: grey;
    font-style: italic;
}

.instruction {
    text-transform: uppercase;
    color: darkblue;
    font-weight: bolder;
}

.label, .param.jump {
    color: orangered;
    font-weight: bolder;
    font-style: italic;
}

.param {
    color: darkgreen;
    font-weight: bolder;
    font-style: italic;
}

.null {
    text-transform: uppercase !important;
    color: purple !important;
}

.bad {
    text-decoration: underline dotted red;
}

.unknown {
    color: darkred;
}

.error {
    color: orangered;
    font-weight: bolder;
}

.highlight {
    background-color: cornflowerblue;
}

.highlight-main {
    background-color: red;
}

.simulation {
    display: inline-block;
    height: 100%;
    width: 49%;
    vertical-align: top;
    position: absolute;
    right: 0;
    background: #f0f0f0;
}

.simulation .processor {
    width: 100%;
    height: 50%;
    line-height: 0;
    position: relative;
}

.simulation .processor .topPins, .simulation .processor .bottomPins {
    width: 520px;
    height: 20px;
    position: absolute;
    left: calc(50% - 520px / 2);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.simulation .processor .topPins {
    top: calc(50% - 170px / 2 - 20px);
}

.simulation .processor .bottomPins {
    bottom: calc(50% - 170px / 2 - 20px);
}

.simulation .processor .leftPins, .simulation .processor .rightPins {
    width: 20px;
    height: 170px;
    position: absolute;
    top: calc(50% - 170px / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.simulation .processor .leftPins {
    left: calc(50% - 520px / 2 - 20px);
}

.simulation .processor .rightPins {
    right: calc(50% - 520px / 2 - 20px);
}

.simulation .processor .pin {
    height: 12px;
    width: 12px;
    border: 3px solid darkgreen;
    background: darkgreen;
}

.simulation .processor .pin.active {
    background-color: limegreen;
    border-color: limegreen;
}

.simulation .processor .pin.left {
    width: 100%;
    border-top-color: #f0f0f0 !important;
    border-left-color: #f0f0f0 !important;
    border-bottom-color: #f0f0f0 !important;
    border-right-width: 4px;
    margin: 2px 0;
}

.simulation .processor .pin.bottom {
    height: 100%;
    border-left-color: #f0f0f0 !important;
    border-bottom-color: #f0f0f0 !important;
    border-right-color: #f0f0f0 !important;
    border-top-width: 4px;
    margin: 0 2px;
}

.simulation .processor .pin.right {
    width: 100%;
    border-top-color: #f0f0f0 !important;
    border-right-color: #f0f0f0 !important;
    border-bottom-color: #f0f0f0 !important;
    border-left-width: 4px;
    margin: 2px 0;
}

.simulation .processor .pin.top {
    height: 100%;
    border-left-color: #f0f0f0 !important;
    border-top-color: #f0f0f0 !important;
    border-right-color: #f0f0f0 !important;
    border-bottom-width: 4px;
    margin: 0 2px;
}

.simulation .processor .body {
    width: 520px;
    height: 170px;
    background: #d0d0d0;
    border: thin black solid;
    position: absolute;
    top: calc(50% - 170px / 2);
    left: calc(50% - 520px / 2);
}

#foot {

}

#out {
    height: 150px;
    position: relative;
}

#terminal {
    display: inline-block;
    background: black;
    height: 100%;
    overflow-y: scroll;
    margin-top: 5px;
    width: 70%;
    font-family: monospace;
    color: lawngreen;
    padding: 5px;
}

#codeBuild {
    display: inline-block;
    width: 28%;
    right: 0;
    top: 5px;
    margin-left: auto;
    background-color: lightgrey;
    height: 100%;
    position: absolute;
    border: solid thin black;
    overflow-y: scroll;
    padding: 5px;
    font-family: monospace;
}